<section>
    <div class="center-container">
        <div class="row margin-center">
            <h1>Login</h1>
        </div>
        <div class="row">
            <div class="container-input">
                <input type="email" name="email" minlength="4" required>
                <label for="email">E-mail</label>
            </div>
            <div class="container-input">
                <input type="password" name="password" minlength="6" required>
                <label for="password">Password</label>
            </div>
        </div>
    </div>
</section>